{% extends 'Patient/P_dashboard.html'%}
{% load crispy_forms_tags %}
{% block content %}
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h4 class="page-title">Make an Appointment</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <form method="POST"  id="appointmentForm" data-cities-url="{% url 'ajax_load_doctor' %}" novalidate>
                    {% csrf_token %}

                    <div class="form-row">
                        <div class="form-group col-md-6 mb-0">
                            {{ form.p_firstname|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form.p_middlename|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form.p_lastname|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form.p_email|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form.p_phone|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form.p_appointmentDate|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form.p_specialization|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form.p_doctor|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form.p_timeslot|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.p_message|as_crispy_field }}
                    </div>
                    <button type="submit" class="btn btn-primary" >Make an Appointment</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_p_specialization").change(function () {
        var url = $("#appointmentForm").attr("data-cities-url");  // get the url of the `load_cities` view
        var specificationId = $(this).val();  // get the selected country ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
            data: {
                'p_specialization': specificationId      // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#id_p_doctor").html(data);  // replace the contents of the city input with the data that came from the server
                /*
                */
            }
        });

    });
</script>
{% endblock %}
