{% if user.is_authenticated %}
{% load static %}

<html lang="en">

<meta name='viewport' content='width=device-width, initial-scale=1'>
<!-- index22:59-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets2/img/favicon.ico' %}">
    <title>HealthCare+</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'assets2/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets2/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets2/css/style.css' %}">
    <!--[if lt IE 9]>
    <script src="{% static 'assets2/js/html5shiv.min.js' %}"></script>
    <script src="{% static 'assets2/js/respond.min.js' %}"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <![endif]-->
</head>

<body>
<div class="main-wrapper">
    <div class="header">
        <div class="header-left">
            <a href="/dr_dash/" class="logo">
                <img src="{% static 'assets2/img/logo.png' %}" width="35" height="35" alt=""> <span>HealthCare</span>
            </a>
        </div>
        <a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
        <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
        <ul class="nav user-menu float-right">
            <li class="nav-item dropdown d-none d-sm-block">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"><i class="fa fa-bell-o"></i>
                    <span class="badge badge-pill bg-danger float-right">3</span></a>
                <div class="dropdown-menu notifications">
                    <div class="topnav-dropdown-header">
                        <span>Notifications</span>
                    </div>
                    <div class="drop-scroll">
                        <ul class="notification-list">
                            <li class="notification-message">
                                <a href="activities.html">
                                    <div class="media">
											<span class="avatar">
												<img alt="John Doe" src="{% static 'assets2/img/user.jpg' %}" class="img-fluid">
											</span>
                                        <div class="media-body">
                                            <p class="noti-details"><span class="noti-title">John Doe</span> added new task <span class="noti-title">Patient appointment booking</span></p>
                                            <p class="noti-time"><span class="notification-time">4 mins ago</span></p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="notification-message">
                                <a href="activities.html">
                                    <div class="media">
                                        <span class="avatar">V</span>
                                        <div class="media-body">
                                            <p class="noti-details"><span class="noti-title">Tarah Shropshire</span> changed the task name <span class="noti-title">Appointment booking with payment gateway</span></p>
                                            <p class="noti-time"><span class="notification-time">6 mins ago</span></p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="notification-message">
                                <a href="activities.html">
                                    <div class="media">
                                        <span class="avatar">L</span>
                                        <div class="media-body">
                                            <p class="noti-details"><span class="noti-title">Misty Tison</span> added <span class="noti-title">Domenic Houston</span> and <span class="noti-title">Claire Mapes</span> to project <span class="noti-title">Doctor available module</span></p>
                                            <p class="noti-time"><span class="notification-time">8 mins ago</span></p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="notification-message">
                                <a href="activities.html">
                                    <div class="media">
                                        <span class="avatar">G</span>
                                        <div class="media-body">
                                            <p class="noti-details"><span class="noti-title">Rolland Webber</span> completed task <span class="noti-title">Patient and Doctor video conferencing</span></p>
                                            <p class="noti-time"><span class="notification-time">12 mins ago</span></p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="notification-message">
                                <a href="activities.html">
                                    <div class="media">
                                        <span class="avatar">V</span>
                                        <div class="media-body">
                                            <p class="noti-details"><span class="noti-title">Bernardo Galaviz</span> added new task <span class="noti-title">Private chat module</span></p>
                                            <p class="noti-time"><span class="notification-time">2 days ago</span></p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="topnav-dropdown-footer">
                        <a href="activities.html">View all Notifications</a>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown has-arrow">
                <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">

                    <span>{{user.first_name}} {{ user.last_name }}</span>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/Patient_profile/{{user.email}}">My Profile</a>
                    <a class="dropdown-item" href="/P_editProfile/{{user.email}}">Edit Profile</a>
                    <a class="dropdown-item" href="/Patient_changePassword/">Change Password</a>
                    <a class="dropdown-item" href="/login/">Logout</a>
                </div>
            </li>
        </ul>
        <div class="dropdown mobile-user-menu float-right">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="/Patient_profile/{{user.email}}">My Profile</a>
                <a class="dropdown-item" href="/P_editProfile/{{user.email}}">Edit Profile</a>
                <a class="dropdown-item" href="/Patient_changePassword/">Change Password</a>
                <a class="dropdown-item" href="/login/">Logout</a>
            </div>
        </div>
    </div>
    <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
                <ul>
                    <li class="menu-title">Main</li>
                    <li class="active">
                        <a href="{% url 'P_dashboard' %}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                    </li>
                    <li>
                        <a href="/Patient_profile/{{user.email}}/"><i class="fa fa-user"></i> <span>My Profile</span></a>
                    </li>
                    <li>
                        <a href="/Patient_prescription/"><i class="fa fa-edit"></i> <span>Prescription</span></a>
                    </li>
                    <li>
                        <a href="/Patient_labTest/"><i class="fa fa-flask "></i> <span>Lab Test</span></a>
                    </li>
                    <li>
                        <a href="/Patient_history/{{user.email}}"><i class="fa fa-history"></i> <span>Appointment History</span></a>
                   </li>
                   <li>
                        <a href="/Patient_paymentHistory/"><i class="fa fa-money"></i><span>Payment History</span></a>
                    </li>
                    <li>
                        <a href="/Patient_Support/"><i class="fa fa-support"></i> <span>Support or Complaint</span></a>
                    </li>
                    <li>
                        <a href="/login/"><i class="fa fa-sign-out"></i> <span>Logout</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    {% if messages %}
    <ul class="success">
        {% for message in messages %}
        <li class="success">
            {{ message}}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% block content %}

    {% endblock %}

<div class="sidebar-overlay" data-reff=""></div>
<script src="{% static 'assets2/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'assets2/js/popper.min.js' %}"></script>
<script src="{% static 'assets2/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets2/js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'assets2/js/Chart.bundle.js' %}"></script>
<script src="{% static 'assets2/js/chart.js' %}"></script>
<script src="{% static 'assets2/js/app.js' %}"></script>
<script>
  $(function() {
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "1900:2012",
      // You can put more options here.

    });
  });
  </script>
</div>
</body>


<!-- index22:59-->
</html>
{% else %}
<p>You are not logged in </p>
<a href="/login/">Log In</a>
{% endif %}