
{% extends 'Patient/P_dashboard.html'%}
{% block content %}
<div class="page-wrapper">
    <div class="content">
        {% if messages %}
        {% for message in messages %}
        {% if message.tags %}
        <div class="alert alert-success">
            {{ message}}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-sm-7 col-6">
                <h4 class="page-title">Dashboard</h4>
            </div>

            <div class="col-sm-5 col-6 text-right m-b-30">
                <a href="/Patient_appointment/{{user.email}}" class="btn btn-primary btn-rounded">Make an Appointment</a>
            </div>
        </div>

        <div class="card-box profile-header">
            <div class="row">
                <div class="col-md-12">
                    <div class="profile-view">
                        <div class="profile-img-wrap">
                            <div class="profile-img">
                                <a href="#"><img class="avatar" src="{{Patient.patient_pic.url}}" alt=""></a>
                            </div>
                        </div>
                        <div class="profile-basic">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="profile-info-left">

                                        <h3 class="user-name m-t-0 mb-0">{{ user.first_name }} {{user.middle_name}} {{user.last_name}}</h3>
                                        <div class="staff-id">Patient ID:{{Patient.id}}</div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <ul class="personal-info">
                                        <li>
                                            <span class="title">Phone:</span>
                                            <span class="text"><a href="#">{{Patient.p_phone}}</a></span>
                                        </li>
                                        <li>
                                            <span class="title">Email:</span>
                                            <span class="text"><a href="#">{{user.email}}</a></span>
                                        </li>
                                        <li>
                                            <span class="title">Address:</span>
                                            <span class="text"><a href="#">{{Patient.p_address}}</a></span>
                                        </li>
                                        <li>
                                            <span class="title">Age:</span>
                                            <span class="text"><a href="#">{{Patient.p_age}}</a></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile-tabs">
                    <ul class="nav nav-tabs nav-tabs-bottom">
                        <li class="nav-item"><a class="nav-link" href="#bottom-tab2" data-toggle="tab">Profile</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="profile-tabs">
            <ul class="nav nav-tabs nav-tabs-bottom">
            </ul>

            <div class="tab-content">
                <div class="tab-pane show active" id="about-cont">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-box">
                                <h3 class="card-title">Last Appointment History</h3>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="table table-striped custom-table mb-0 datatable">
                                                <thead>
                                                <tr>
                                                    <th>Appointment Id</th>
                                                    <th>Appointment Date</th>
                                                    <th>Specilization</th>
                                                    <th>Doctor</th>
                                                    <th>Timeslot</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for appointment in lastappt %}
                                                <tr>
                                                    <td>{{ appointment.id }}</td>
                                                    <td>{{ appointment.p_appointmentDate }}</td>
                                                    <td>{{ appointment.p_specialization }}</td>
                                                    <td>Dr.{{ appointment.p_doctor.first_name }} {{appointment.p_doctor.last_name}}</td>
                                                    <td>{{ appointment.p_timeslot }}</td>
                                                    <!--<td><span class="custom-badge status-green">Active</span></td>-->

                                                </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
            </div>
        </div>
        <div class="profile-tabs">
            <ul class="nav nav-tabs nav-tabs-bottom">
                <li class="nav-item"></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}