{% extends 'Patient/P_dashboard.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="page-title">Edit Profile</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <form method="POST"  enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.media }}
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-0">
                            {{ form.p_firstname|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form.p_middlename|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form.p_lastname|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form.p_email|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form.p_phone|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form.p_age|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form.p_address|as_crispy_field }}
                      </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form.patient_pic|as_crispy_field }}
                        </div>
                    </div>
                    <div class="m-t-20 text-center">
                   <button type="submit"class="btn btn-primary submit-btn">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{% endblock %}