{% load static %}
<html lang="en">


<!-- login23:11-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets1/img/favicon.ico' %}">
    <title>Preclinic - Medical & Hospital - Bootstrap 4 Admin Template</title>
    <link rel="stylesheet" type="text/css" href="{% static 'assets1/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets1/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets1/css/style.css' %}">
    <!--[if lt IE 9]>
    <script src="{% static 'assets1/js/html5shiv.min.js' %}"></script>
    <script src="{% static 'assets1/js/respond.min.js' %}"></script>
    <![endif]-->
</head>

<body>
<div class="page-wrapper">
    <div class="content">

        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <form action="/Patient_paymentSuccess/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" custom="Hidden Element" name="form"value="{{ form }}">
                    <input type="hidden" custom="Hidden Element" name="sform" value="{{ sform }}">

            <script src="https://checkout.razorpay.com/v1/checkout.js"
                    data-key = "rzp_test_2FGwbDK4WN6BAU"
                    data-amount = "{{ amount }}"
                    data-currency= "INR"
                    data-order_id = "{{ order_id }}"
                    data-buttontext="Pay Ammount"
                    data-name = "HealthCare+"
                    data-description= "Make Payment"
                    data-image = "https://example.com/your_logo"
                    data-prefill.name =  "{{ first_name }} {{ middle_name }} {{ last_name }} "
                    data-prefill.email= "{{ email }}"
                    data-prefill.contact = "{{ phone }}"
                    data-notes.address="{{ address }}"}
                    data-theme.color="#F37254"}
                    ></script>
                    <input type="hidden" custom="Hidden Element" name="hidden">
                </form>
            </div>
        </div>
    </div>

</div>




<script src="{% static 'assets1/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'assets1/js/popper.min.js' %}"></script>
<script src="{% static 'assets1/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets1/js/app.js' %}"></script>
</body>

</html>