{% extends 'Patient/P_dashboard.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-5 col-5">
                <h4 class="page-title">Change Password</h4>
            </div>
        </div>
        {% if messages %}
        {% for message in messages %}
        {% if message.tags %}
        <div class="alert alert-danger">
            <strong>Failed! </strong>{{message}}.
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="m-t-20 text-center">
                        <button class="btn btn-primary submit-btn">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{% endblock %}