{% extends 'Patient/P_dashboard.html' %}
{% block content %}
<div class="page-wrapper">
    <div class="content">
        <h3>Appointment History</h3>
        <div class="row">
            <div class="col-sm-5 col-5">

            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped custom-table mb-0 datatable">
                        <thead>
                        <tr>
                            <th>Appointment Id</th>
                            <th>Appointment Date</th>
                            <th>Specilization</th>
                            <th>Doctor</th>
                            <th>Timeslot</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for appointment in appointments %}
                        <tr>
                            <td>{{ appointment.id }}</td>
                            <td>{{ appointment.p_appointmentDate }}</td>
                            <td>{{ appointment.p_specialization }}</td>
                            <td>Dr.{{ appointment.p_doctor.first_name }} {{appointment.p_doctor.last_name}}</td>
                            <td>{{ appointment.p_timeslot }}</td>
                            <!--<td><span class="custom-badge status-green">Active</span></td>-->

                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock %}