{% extends 'Patient/P_dashboard.html' %}
{% block content %}

<div class="page-wrapper">
    <div class="content">
        <h3>Prescription</h3>
        <div class="row">
            <div class="col-sm-5 col-5">

            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped custom-table mb-0 datatable">
                        <thead>
                        <tr>
                            <th>Appointment Date</th>
                            <th>Patient Name</th>
                            <th>Prescription</th>
                            <th>Download</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>17-03-2021</td>
                            <td>{{user.first_name}} {{user.middle_name}} {{user.last_name}}</td>
                            <td><a href="#"> CoverLetter_sanyukta_waghmare.pdf</a></td>
                            <td><i class=" fa fa-download fa-lg center" aria-hidden="true" ></i></td>
                            <!---<td><span class="custom-badge status-green">Active</span></td>--->

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock %}