{% extends 'Patient/P_dashboard.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="page-wrapper">
    <div class="content">
        <h3>Your Complaints our First Priority!</h3>
          <h4>please note down your Issue.</h4>
        <br>
        <br>
        <form method="POST" >
            {% csrf_token %}

            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.issueSubject|as_crispy_field }}
                </div>
                <div class="form-group col-md-8 mb-0">
                    {{ form.issue|as_crispy_field }}
                </div>
                <div class="form-group col-md-8 mb-0">
                    <button type="submit" class="btn btn-primary" >Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
    </div>
</div>
{% endblock %}