{% extends 'Patient/P_dashboard.html' %}
{% block content %}
<div class="page-wrapper">
    <div class="content">
        <h3>Payment History</h3>
        <div class="row">
            <div class="col-sm-5 col-5">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped custom-table mb-0 datatable">
                        <thead>
                        <tr>
                            <th>Patient Id</th>
                            <th>Transaction Id</th>
                            <th>Patient Email</th>
                            <th>Amount</th>
                            <th>Date of Payment</th>
                            <th>Time</th>
                            <th>Unique Id</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>20</td>
                            <td>{{ appointment.p_appointmentDate }}</td>
                            <td>{{user.email}}</td>
                            <td>{{ appointmt.p_doctor.first_name }} {{appointment.p_doctor.last_name}}</td>
                            <td>{{ appointment.p_timeslot }}</td>
                            <!--<td><span class="custom-badge status-green">Active</span></td>-->

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>



{% endblock %}