
{% extends 'Patient/P_dashboard.html'%}
{% block content %}
<div class="page-wrapper">
    <div class="content">
        {% csrf_token %}
        {% if messages %}
        {% for message in messages %}
        {% if message.tags %}
        <div class="alert alert-success">
            {{ message}}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-sm-7 col-6">
                <h4 class="page-title">My Profile</h4>
            </div>

            <div class="col-sm-5 col-6 text-right m-b-30">
                <a href="/P_editProfile/{{user.email}}" class="btn btn-primary btn-rounded"><i class="fa fa-plus"></i> Edit Profile</a>
            </div>
        </div>
        <div class="card-box profile-header">
            {% for data in data %}
            <div class="row">
                <div class="col-md-12">
                    <div class="profile-view">
                        <div class="profile-img-wrap">
                            <div class="profile-img">
                                <a href="#"><img class="avatar" src="{{data.patient_pic.url}}" alt=""></a>
                            </div>
                        </div>
                        <div class="profile-basic">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="profile-info-left">
                                        <h3 class="user-name m-t-0 mb-0">{{user.first_name}} {{user.middle_name}} {{user.last_name}}</h3>
                                        <div class="staff-id">Patient ID:{{data.id}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <ul class="personal-info">
                                        <li>
                                            <span class="title">Phone:</span>
                                            <span class="text"><a href="#">{{data.p_phone}}</a></span>
                                      </li>
                                        <li>
                                            <span class="title">Email:</span>
                                            <span class="text"><a href="#">{{user.email}}</a></span>
                                        </li>
                                        <li>
                                            <span class="title">Age:</span>
                                            <span class="text"><a href="#">{{data.p_age}}</a></span>
                                        </li>
                                        <li>
                                            <span class="title">Address:</span>
                                            <span class="text"><a href="#">{{data.p_address}}</a></span>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="profile-tabs">
            <ul class="nav nav-tabs nav-tabs-bottom">
                <li class="nav-item"></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}