{% extends 'Doctor/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h4 class="page-title">Add Appointment</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <form method="POST"  id="appointmentForm" data-cities-url="{% url 'ajax_load_doctor' %}" novalidate>
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-0">
                            {{ form.p_name|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form.p_email|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form.p_phone|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form.p_appointmentDate|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form.p_timeslot|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.p_message|as_crispy_field }}
                    </div>
                    <button type="submit" class="btn btn-primary" >Make an Appointment</button>
                </form>
            </div>
        </div>
    </div>
</div>

    {% endblock %}