{% extends 'Doctor/base.html' %}
{% block content %}
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h4 class="page-title">Add Medicines</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <form method="post" action="/add_medicine/">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Medicine Name</label>
                        <input class="form-control" type="text" name="medicinename">
                    </div>
                     <div class="form-group">
                        <label>Medicine Timing</label>
                        <input class="form-control" type="text" name="medicinetiming">
                    </div>
                    <div class="form-group">
                        <label>Medicine Quantity</label>
                        <textarea cols="30" rows="4" class="form-control" name="medicinequantity"></textarea>
                    </div>

                    <div class="m-t-20 text-center">
                        <button class="btn btn-primary submit-btn">Add Medicine</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{%  endblock %}