{% extends 'Doctor/base.html' %}
{% block content %}

<div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-4 col-3">
                        <h4 class="page-title">Appointments</h4>
                    </div>
                    <div class="col-sm-8 col-9 text-right m-b-20">
                        <a href="/dr_add_appointments/{{user.email}}" class="btn btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Add Appointment</a>
                    </div>
                </div>
				<div class="row">
					<div class="col-md-12">
						<div class="table-responsive">
							<table class="table table-striped custom-table">
								<thead>
									<tr>
										<th>Appointment ID</th>
										<th>Patient Name</th>
										<th>Appointment Date</th>
										<th>Appointment Time</th>
										<th>Status</th>
										<th>other Details</th>
										<th class="text-right">Action</th>
									</tr>
								</thead>
								<tbody>
									{% for pts in pt %}
									<tr>
										<td>{{pts.id}}</td>
										<td>{{pts.p_name}}</td>
										<td>{{pts.p_appointmentDate}}</td>
										<td>{{pts.p_timeslot}}</td>
										<td><span class="custom-badge status-green">Attended</span><span class="custom-badge status-green">Cancel</span></td>
										<td><a href="/dr_prescription/">Prescription</a></td>
										<td class="text-right">
											<div class="dropdown dropdown-action">
												<a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="/dr_edit_appointments/{{pts.id}}"><i class="fa fa-pencil m-r-5"></i> Edit</a>
													<a class="dropdown-item" href="#dr_delete_appointment{{pts.id}}" data-toggle="modal"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
												</div>
											</div>
										</td>
									</tr>
									<div id="dr_delete_appointment{{pts.id}}" class="modal fade delete-modal" role="dialog">
											<div class="modal-dialog modal-dialog-centered">
												<div class="modal-content">
													<div class="modal-body text-center">
														<h3>Are you sure want to delete this Appointment?</h3>
														<div class="m-t-20"> <a href="/dr_appointments/" class="btn btn-white" data-dismiss="modal">Close</a>
															<a href="/dr_delete_appointment/{{pts.id}}" class="btn btn-danger">Delete</a>
														</div>
													</div>
												</div>
											</div>
										</div>



							{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
                </div>
            </div>
</div>


{% endblock %}