{% load static %}
<html lang="en">


<!-- index22:59-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets2/img/favicon.ico' %}">
    <title>HealthCare+</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'assets2/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets2/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets2/css/style.css' %}">
    <!--[if lt IE 9]>
		<script src="{% static 'assets2/js/html5shiv.min.js' %}"></script>
		<script src="{% static 'assets2/js/respond.min.js' %}"></script>
	<![endif]-->
</head>

<body>
    <div class="main-wrapper">
        <div class="header">
			<div class="header-left">
				<a href="/dr_dash/" class="logo">
					<img src="{% static 'assets2/img/logo.png' %}" width="35" height="35" alt=""> <span>HealthCare</span>
				</a>
			</div>
			<a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">

                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img">
							<img class="rounded-circle" src="{% static 'assets2/img/user.jpg' %}" width="24" alt="Admin">
							<span class="status online"></span>
						</span>
						<span>{{ user.first_name }}</span>
                    </a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="/dr_profile/">My Profile</a>
						<a class="dropdown-item" href="/dr_editprofile/{{user.email}}">Edit Profile</a>
						<a class="dropdown-item" href="/dr_logout/">Logout</a>
					</div>
                </li>
            </ul>
            <div class="dropdown mobile-user-menu float-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/dr_profile/">My Profile</a>
                    <a class="dropdown-item" href="/dr_editprofile/{{user.email}}">Edit Profile</a>
                    <a class="dropdown-item" href="/dr_logout/">Logout</a>
                </div>
            </div>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                        <li class="active">
                            <a href="/dr_dash/"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                        </li>
                        <li>
                            <a href="/dr_patients/"><i class="fa fa-wheelchair"></i> <span>Patients History</span></a>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fa fa-calendar"></i> <span> Appointments</span> <span class="menu-arrow"></span></a>
							<ul style="display: none;">
								<li><a href="/dr_appointments/">Manage Appointments</a></li>
								<li><a href="/dr_today_appointments/{{user.id}}">Upcoming Appointments</a></li>
                                </ul>
                        </li>
                        <li>
                            <a href="/dr_schedule/"><i class="fa fa-calendar-check-o"></i> <span>Doctor Schedule</span></a>
                        </li>
                        
						
						<li class="submenu">
							<a href="#"><i class="fa fa-money"></i> <span> Accounts </span> <span class="menu-arrow"></span></a>
							<ul style="display: none;">
								<li><a href="/dr_bank_details/">Bank Details</a></li>
								<li><a href="payments.html">Payments</a></li>
								<li><a href="expenses.html">Expenses</a></li>
								<li><a href="taxes.html">Taxes</a></li>
								<li><a href="provident-fund.html">Provident Fund</a></li>
							</ul>
						</li>
						<li>
							<a href="/dr_reports/"><i class="fa fa-flag-o"></i> <span> Reports </span></a>

						</li>
                        <li>
                            <a href="/dr_settings/"><i class="fa fa-cog"></i> <span>Settings</span></a>
                        </li>
                    </ul>
                        </div>
						</div>
						</div>
    </div>

            {% block content %}

            {% endblock %}



            </div>
            </div>
        </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="{% static 'assets2/js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'assets2/js/popper.min.js' %}"></script>
    <script src="{% static 'assets2/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets2/js/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'assets2/js/Chart.bundle.js' %}"></script>
    <script src="{% static 'assets2/js/chart.js' %}"></script>
    <script src="{% static 'assets2/js/app.js' %}"></script>

</body>


<!-- index22:59-->
</html>