{% extends 'Doctor/base.html' %}
{% block content %}

<div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="page-title">Account Details</h4>
                    </div>
                </div>
                <form>
                    <div class="card-box">
                        <h3 class="card-title">Bank Details</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Account Holder Name</label>
                                    <input type="text" class="form-control floating" value="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Account Number</label>
                                    <input type="text" class="form-control floating" value="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Bank Name</label>
                                    <input type="text" class="form-control floating" value="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus">
                                    <label class="focus-label">IFSC Code</label>
                                    <input type="text" class="form-control floating" value="">
                                </div>
                            </div>
                       </div>
                    <div class="text-center m-t-20">
                        <button class="btn btn-primary submit-btn" type="button">Save</button>
                    </div>
                        </div>
                </form>

</div>
</div>
</div>

{% endblock %}