{% extends 'Doctor/base.html' %}
{% block content %}

<html >
<head>




    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src ="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>



<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {

    margin-top:300px;
    margin: 120px auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box
}



body {
    font-family: 'Poppins', sans-serif;
    background-color: aliceblue
}

.wrapper {
    padding: 30px 50px;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin: 10px auto;
    max-width: 600px
}

h4 {
    letter-spacing: -1px;
    font-weight: 400
}

.img {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    object-fit: cover
}

#img-section p,
#deactivate p {
    font-size: 12px;
    color: #777;
    margin-bottom: 10px;
    text-align: justify
}

#img-section b,
#img-section button,
#deactivate b {
    font-size: 14px
}

label {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
    color: #777;
    padding-left: 3px
}

.form-control {
    border-radius: 10px
}

input[placeholder] {
    font-weight: 500
}

.form-control:focus {
    box-shadow: none;
    border: 1.5px solid #0779e4
}

select {
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    height: 40px;
    padding: 5px 10px
}

select:focus {
    outline: none
}

.button {
    background-color: #fff;
    color: #0779e4
}

.button:hover {
    background-color: #0779e4;
    color: #fff
}

.btn-primary {
    background-color: #0779e4
}

.danger {
    background-color: #fff;
    color: #e20404;
    border: 1px solid #ddd
}

.danger:hover {
    background-color: #e20404;
    color: #fff
}

@media(max-width:576px) {
    .wrapper {
        padding: 25px 20px
    }

    #deactivate {
        line-height: 18px
    }
}
</style>
<div class="wrapper bg-white mt-sm-5">
    <h4 class="pb-4 border-bottom">Patient Profile</h4>
    <div class="d-flex align-items-start py-3 border-bottom"> <img src="https://images.pexels.com/photos/1037995/pexels-photo-1037995.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img" alt="">
        <div class="pl-sm-4 pl-2" id="img-section"> <b>Profile Photo</b>
            <label class="form-label" for="customFile">Default file input example</label>
            <input type="file" class="form-control" id="customFile" />
            <p>Accepted file type .jpg. Less than 1MB</p> <button class="btn button border"><b>Upload</b></button>
        </div>
    </div>
    <div class="py-2">
        <div class="row py-2">
            <div class="col-md-6"> <label for="firstname">First Name</label>
                <input type="text" class="bg-light form-control" placeholder="name" value="{{patient.p_name}}"> </div>
            <div class="col-md-6 pt-md-0 pt-3"> <label for="lastname">Last Name</label>
                <input type="text" class="bg-light form-control" placeholder="surname" value="{{patient.p_name}}"> </div>
        </div>
        <div class="row py-2">
            <div class="col-md-6"> <label for="email">Email Address</label>
                <input type="text" class="bg-light form-control" placeholder=" email" value="{{patient.p_email}}"> </div>
            <div class="col-md-6 pt-md-0 pt-3"> <label for="phone">Phone Number</label>
                <input type="tel" class="bg-light form-control" placeholder="contact" value="{{patient.p_phone}}"> </div>

        </div>
        <div class="row py-2">
            <div class="col-md-6"> <label for="Age">Age</label>
                <input type="number"  class="bg-light form-control" placeholder="age" value="{{patient.p_age}}">
            </div>
            <div class="col-md-6 pt-md-0 pt-3"><label for="address">Address</label>
                <input type="text" class="bg-light form-control" placeholder="address" value="{{patient.p_address}}">
            </div>
            <div class="py-3 pb-4 border-bottom"> <button class="btn btn-primary mr-3">Save Changes</button> <button class="btn border button">Cancel</button> </div>
            <div class="d-sm-flex align-items-center pt-3" id="deactivate">
                <div> <b>Deactivate your account</b>
                </div>
                <div class="ml-auto"> <button class="btn danger">Deactivate</button> </div>
            </div>
        </div>
    </div>

  </html>
{% endblock %}