{% extends 'Doctor/base.html' %}
{% block content %}

<div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-4 col-3">
                        <h4 class="page-title">Patients</h4>
                    </div>

                </div>
				<div class="row">
					<div class="col-md-12">
						<div class="table-responsive">
							<table class="table table-border table-striped custom-table datatable mb-0">
								<thead>
									<tr>
										<th>Patient_ID</th>
										<th>Name</th>
										<th>Email</th>
										<th>Phone</th>
										<th>Age</th>
										<th>Address</th>
										<!--<th class="text-right">Action</th>-->
									</tr>
								</thead>
								<tbody>
									{% for pts in pt %}
									<tr>
									<td>{{pts.p_id}}</td>
									<td>{{pts.p_name}}</td>
									<td>{{pts.p_email}}</td>
									<td>{{pts.p_phone}}</td>
									<td>{{pts.p_age}}</td>
									<td>{{pts.p_address}}</td>
									<!--<td class="text-right">
											<div class="dropdown dropdown-action">
												<a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="/dr_editpatient/{{pts.id}}"><i class="fa fa-pencil m-r-5"></i> Edit</a>
													<a class="dropdown-item" href="#dr_delete_patient{{pts.id}}" data-toggle="modal"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
												</div>
											</div>
										</td>-->
									</tr>
									<div id="dr_delete_patient{{pts.id}}" class="modal fade delete-modal" role="dialog">
										<div class="modal-dialog modal-dialog-centered">
											<div class="modal-content">
												<div class="modal-body text-center">
													<h3>Are you sure want to delete this Patient?</h3>
													<div class="m-t-20"> <a href="/dr_patients/" class="btn btn-white" data-dismiss="modal">Close</a>
														<a href="/dr_delete_patient/{{pts.id}}" class="btn btn-danger">Delete</a>
													</div>
												</div>
											</div>
			</div>

		</div>
									{% endfor %}

								</tbody>
							</table>
						</div>
					</div>
                </div>
            </div>
		</div>
{% endblock %}