{% extends 'Doctor/base.html' %}
{% block content %}
<div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-4 col-3">
                        <h4 class="page-title">Prescription Form</h4>
					</div>
                    <div class="col-sm-8 col-9 text-right m-b-20">
                        <a href="/add_medicine/" class="btn btn btn-primary btn-rounded float-right"><i class=""></i> View History</a>
                    </div>
                </div>
				<form>
                    <div class="card-box">
                        <h3 class="card-title">Patient Details</h3>
                        <div class="row">
                            <div class="col-6">
                                            <ul class="personal-info">
                                                <li>
                                                    <span class="title">Patient Name:</span>
                                                    <span class="text">Pratiksha Lokhande</a></span>
                                                </li>
                                                <li>
                                                    <span class="title">AppointmentID:</span>
                                                    <span class="text">AP00012</a></span>
                                                </li>
                                                <li>
                                                    <span class="title">Doctor Name:</span>
                                                    <span class="text">Dr. Arshi Khan</span>
                                                </li>
                                            </ul>
                                        </div>
                            <div class="col-6">
                                            <ul class="personal-info">
                                                <li>
                                                    <span class="title">Appointment Date:</span>
                                                    <span class="text">2021-02-04</span>
                                                </li>
                                                <li>
                                                    <span class="title">Appointment Timing:</span>
                                                    <span class="text">4.00-5.00</span>
                                                </li>

                                            </ul>
                                    </div>
                                 </div>
</div>



</form>
				<div class="row">
					<div class="col-md-12">
						<div class="table-responsive">
							<table class="table table-border table-striped custom-table datatable mb-0">
								<thead>
									<tr>
										<th>Medicine Name</th>
										<th>Timing</th>
										<th>Quantity</th>
										<th class="text-right">Action</th>
									</tr>
								</thead>
								<tbody>
									{% for pts in pt %}
									<tr>
									<td>{{pts.medicine_name}}</td>
									<td>{{pts.medicine_timing}}</td>
									<td>{{pts.medicine_quantity}}</td>
									<td class="text-right">
											<div class="dropdown dropdown-action">
												<a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="/dr_editpatient/{{pts.id}}"><i class="fa fa-pencil m-r-5"></i> Edit</a>
													<a class="dropdown-item" href="#dr_delete_patient{{pts.id}}" data-toggle="modal"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
												</div>
											</div>
										</td>
									</tr>
									<div id="dr_delete_patient{{pts.id}}" class="modal fade delete-modal" role="dialog">
										<div class="modal-dialog modal-dialog-centered">
											<div class="modal-content">
												<div class="modal-body text-center">
													<h3>Are you sure want to delete this Patient?</h3>
													<div class="m-t-20"> <a href="/dr_patients/" class="btn btn-white" data-dismiss="modal">Close</a>
														<a href="/dr_delete_patient/{{pts.id}}" class="btn btn-danger">Delete</a>
													</div>
												</div>
											</div>
			</div>

		</div>
		{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
                </div>
            </div>
		</div>
{% endblock %}