{% load static %}

<html lang="en">


<!-- forgot-password24:03-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets1/img/favicon.ico' %}">
    <title>Preclinic - Medical & Hospital - Bootstrap 4 Admin Template</title>
    <link rel="stylesheet" type="text/css" href="{% static 'assets1/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets1/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets1/css/style.css' %}">
    <!--[if lt IE 9]>
		<script src="{% static 'assets1/js/html5shiv.min.js' %}"></script>
		<script src="{% static 'assets/js/respond.min.js' %}"></script>
	<![endif]-->
</head>

<body>
    <div class="main-wrapper account-wrapper">
        <div class="account-page">
			<div class="account-center">
                <div class="account-box">
                   {% block content %}

                    {% endblock%}
                </div>
			</div>
        </div>
    </div>
    <script src="{% static 'assets1/js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'assets1/js/popper.min.js' %}"></script>
    <script src="{% static 'assets1/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets1/js/app.js' %}"></script>
</body>


<!-- forgot-password24:03-->
</html>