{% extends "registration/index.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Reset your password{% endblock %}
{% block content %}


    <form action="." method="post">
         {% csrf_token %}
        <div class="account-logo">
            <a href="index-2.html"><img src="{% static 'assets1/img/logo-dark.png' %}" alt=""></a>
        </div>
         <p>Enter your e-mail address to obtain a new password.</p>
         <div class="form-group">
            {{ form|crispy }}
         </div>
        <div class="form-group text-center">
            <button class="btn btn-primary account-btn" type="submit">send mail</button>
        </div>


    </form>
{% endblock %}