{% extends "registration/index.html" %}

{% block title %}Password reset{% endblock %}
{% block content %}
    <h1>Password set</h1>
    <p>Your password has been set. You can <a href="/adminlogin/">log in now</a></p>
{% endblock %}