{% extends "index.html" %}
{% load crispy_forms_tags %}
{% block title %}Reset your password{% endblock %}
{% block content %}
    <h1>Reset your password</h1>
    {% if validlink %}
        <p>Please enter your new password twice:</p>
        <form action="." method="post">
            {% csrf_token %}
        <div class="form-group">
            {{ form|crispy }}
         </div>
            <div class="form-group text-center">
                <button class="btn btn-primary account-btn" type="submit">Change my password</button>
            </div>


        </form>
    {% else %}
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
{% endblock %}