{% extends 'admin/adminindex.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h4 class="page-title">Add patient</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ eform.media }}

                            <<div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        {{ eform.p_firstname|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        {{ eform.p_middlename|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        {{ eform.p_lastname|as_crispy_field }}
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        {{ eform.p_email|as_crispy_field }}
                                    </div>
                                </div>
                                 <div class="col-sm-6">
                                    <div class="form-group">
                                        {{ sform.password|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                       {{ eform.p_phone|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        {{ eform.p_age|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        {{ eform.p_address|as_crispy_field }}
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                       {{ eform.patient_pic|as_crispy_field }}
                                    </div>
                                </div>
                            </div>

                            <div class="m-t-20 text-center">
                                <button class="btn btn-primary submit-btn">Add patient</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>


{% endblock %}
