{% extends 'admin/adminindex.html' %}
{% block content %}
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-5 col-5">
                <h4 class="page-title">Add Department</h4>
            </div>
            <div class="col-sm-7 col-7 text-right m-b-30">
                <a href="/addsubdepartment/" class="btn btn-primary btn-rounded"><i class="fa fa-plus"></i> Add Sub Department</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <form method="POST" action="/add_departments/">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Department Name</label>
                        <input class="form-control" type="text" name="dname">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea cols="30" rows="4" class="form-control" name="desc"></textarea>
                    </div>
                    <div class="m-t-20 text-center">
                        <button class="btn btn-primary submit-btn">Create Department</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}