{% extends 'admin/adminindex.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="page-wrapper">
    <div class="content">
        <div class="row">
             <div class="col-sm-12">
                 <h4 class="page-title">Add Doctor</h4>
             </div>
        </div>
        <!--<div class="row">
            <div class="col-lg-8 offset-lg-2">-->
                <form method="post" action="/add_doctor/" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.media }}
                    <div class="card-box">
                        <h3 class="card-title">Basic Informations</h3>
                        <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{ form.first_name|as_crispy_field }}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{ form.middle_name|as_crispy_field }}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{ form.last_name|as_crispy_field }}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{ form.email|as_crispy_field }}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{ sform.password|as_crispy_field }}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{ form.age|as_crispy_field }}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                               {{ form.gender|as_crispy_field }}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{ form.photo|as_crispy_field }}
                                            </div>
                                        </div>
                        </div>
                    </div>
                     <div class="card-box">
                        <h3 class="card-title">Contact Informations</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.address|as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                     {{ form.address2|as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.city|as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.state|as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                     {{ form.postal_code|as_crispy_field }}
                                </div>
                            </div>
                             <div class="col-md-6">
                                 <div class="form-group">
                                     {{ form.phone|as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                 <div class="form-group">
                                     {{ form.phone2|as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                 <div class="form-group">
                                     {{ form.home_no|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="card-box">
                        <h3 class="card-title">Education Informations</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.qulifications|as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.Certificate|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-box">
                        <h3 class="card-title">Experience Informations</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.hospital_name|as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.year_of_experience|as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.job_position|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-box">
                        <h3 class="card-title">Bank Details</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.bank_Account_no|as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.ifsc_code|as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.bank_name|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-box">
                        <h3 class="card-title">Role</h3>
                        <div class="row">
                             <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.specialties|as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.consulting_fee|as_crispy_field }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.department |as_crispy_field }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-box">
                        <h3 class="card-title">Documents</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.documents|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                    </div>
                   <!-- <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form.first_name|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form.last_name|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form.email|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ sform.password|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form.age|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form.gender|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form.address|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form.city|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form.state|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form.postal_code|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form.phone|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form.qulifications|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form.specialties|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form.photo|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form.Certificate|as_crispy_field }}
                            </div>
                        </div>

                    </div>-->


                    <div class="form-group">
                         {{ form.bio|as_crispy_field }}
                    </div>

                    <div class="m-t-20 text-center">
                        <button class="btn btn-primary submit-btn">Create Doctor</button>
                    </div>
                </form>
            <!--</div>
        </div>-->
    </div>
   
    </div>
</div>

{% endblock %}
