{% extends 'admin/adminindex.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-5 col-5">
                <h4 class="page-title">Add Sub Department</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.department_name|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{ form.Head_dept|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{ form.description|as_crispy_field }}
                    </div>
                    <div class="m-t-20 text-center">
                        <button class="btn btn-primary submit-btn">Create Department</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}