{% extends 'admin/adminindex.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h4 class="page-title">Add Lab Tests</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.test_name|as_crispy_field }}
                    </div>
                     <div class="form-group">
                        {{ form.test_code|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{ form.price|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{ form.description|as_crispy_field }}
                    </div>

                    <div class="m-t-20 text-center">
                        <button class="btn btn-primary submit-btn">Create Test</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}