{% extends 'admin/adminindex.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h4 class="page-title">Add specializations</h4>
            </div>
        </div>
        {% if messages %}
            {% for message in messages %}
             {% if message.tags %}
                <div class="alert alert-success">
                    <strong>Success!</strong>{{message}}.
                  </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <form method="post"  enctype="multipart/form-data">
                    {% csrf_token %}

                    {{ form|crispy }}

                    <div class="m-t-20 text-center">
                        <button class="btn btn-primary submit-btn">Add specializations</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
   
    </div>
</div>

{% endblock %}
