{% if user.is_authenticated %}
{% load static %}
{% load crispy_forms_tags %}


<html lang="en">


<!-- index22:59-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets1/img/favicon.ico' %}">
    <title>Health Care +</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'assets1/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets1/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets1/css/style.css' %}">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
    <!--[if lt IE 9]>
		<script src="{% static 'assets/js/html5shiv.min.js' %}"></script>
		<script src="{% static 'assets/js/respond.min.js' %}"></script>
	<![endif]-->
</head>
<body>
    <div class="main-wrapper">
    <div class="header">
        <div class="header-left">
            <a href="index-2.html" class="logo">
                <img src="{% static 'assets1/img/logo.png' %}" width="35" height="35" alt=""> <span>Health Care +</span>
            </a>
        </div>
        <a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
        <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
        <ul class="nav user-menu float-right">

            <li class="nav-item dropdown has-arrow">
                <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                    <span class="user-img">
                        <img class="rounded-circle" src="{% static 'assets1/img/user.jpg' %}" width="24" alt="Admin">
                        <span class="status online"></span>
                    </span>
                    <span>{{user.first_name}} {{user.last_name}}</span>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/profile/">My Profile</a>
                    <a class="dropdown-item" href="/edit_profile/">Edit Profile</a>
                    <a class="dropdown-item" href="/changepassword2/">Change Password</a>
                    <a class="dropdown-item" href="/adminlogout/">Logout</a>
                </div>
            </li>
        </ul>
        <div class="dropdown mobile-user-menu float-right">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="/profile/">My Profile</a>
                <a class="dropdown-item" href="/edit_profile/">Edit Profile</a>
                <a class="dropdown-item" href="/changepassword2/">Change Password</a>
                <a class="dropdown-item" href="/adminlogout/">Logout</a>
            </div>
        </div>
    </div>
    <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
                <ul>
                    <li class="menu-title">Main</li>
                    <li>
                        <a href="/admindashboard/"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                    </li>
                    <li>
                        <a href="/doctors/"><i class="fa fa-user-md"></i> <span>Doctors</span></a>
                    </li>
                    <li>
                        <a href="/patients/"><i class="fa fa-wheelchair"></i> <span>Patients</span></a>
                    </li>
                    <li>
                        <a href="/appointments/"><i class="fa fa-calendar"></i> <span>Appointments</span></a>
                    </li>
                    <li>
                        <a href="/lab_tests/"><i class="fa fa-calendar-check-o"></i> <span>Lab Tests</span></a>
                    </li>
                    <li>
                        <a href="/departmentsview/"><i class="fa fa-hospital-o"></i> <span>Departments</span></a>
                    </li>

                    <li>
                        <a href="/employee/"><i class="fa fa-user"></i> <span> Employees </span> </a>
                    </li>
                    <li class="submenu">
                        <a href="#"><i class="fa fa-graduation-cap"></i> <span>Degree/specialites </span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a href="/viewspecializationsdegree/">View specializations/degree</a></li>
                            <li><a href="/add_specializations/">Add specializations</a></li>
                            <li><a href="/add_degree/">Add degree</a></li>

                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="#"><i class="fa fa-credit-card "></i> <span>Payment </span> <span class="menu-arrow"></span></a>
                        <ul style="display: none;">
                            <li><a href="#">Patient Payment</a></li>
                            <li><a href="#">Doctor Payment</a></li>
                            <li><a href="#">Staff Payment</a></li>

                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-money"></i> <span>Consulting Charges</span></a>
                    </li>
                     <li>
                        <a href="#"><i class="fa fa-percent"></i> <span>Offers</span></a>
                    </li>
                     <li>
                        <a href="#"><i class="fa fa-envelope"></i> <span>Support & Complain </span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
        {% block content %}

        {% endblock %}
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="{% static 'assets1/js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'assets1/js/popper.min.js' %}"></script>
    <script src="{% static 'assets1/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets1/js/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'assets1/js/Chart.bundle.js' %}"></script>
    <script src="{% static 'assets1/js/chart.js' %}"></script>
    <script src="{% static 'assets1/js/app.js' %}"></script>
    <script src="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/js/bootstrap-datetimepicker.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
    <script>
        $(function () {
            $('.datetime-input').datetimepicker({
                format:'YYYY-MM-DD HH:mm:ss'
            });
        });
    </script>
</body>

</html>
{% else %}
    <p>You are not logged in</p>
     <a class="text-center" href="/adminlogin/">Log In</a>
{% endif %}