{% extends 'admin/adminindex.html' %}

{% block content %}

<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-4 col-3">
                <h4 class="page-title">Appointments</h4>
            </div>
            <div class="col-sm-8 col-9 text-right m-b-20">
                <a href="/addappointment/" class="btn btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Add Appointment</a>
            </div>
        </div>
        {% if messages %}
            {% for message in messages %}
             {% if message.tags %}
                <div class="alert alert-success">
                    <strong>Success!</strong>{{message}}.
                  </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <form action="/searchappointment/" method="GET">
        <div class="row filter-row">
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group form-focus">
                            <label class="focus-label">Patient Name</label>
                            <input type="text" class="form-control floating" name="patientName">
                        </div>
                    </div>
                    <!--<div class="col-sm-6 col-md-3">
                        <div class="form-group form-focus">
							<label class="focus-label">From</label>
							<div class="cal-icon">
								<input  name="fromdate" class="form-control floating datetimepicker" type="date">
							</div>
						</div>
					</div>
                    <div class="col-sm-6 col-md-3">
						<div class="form-group form-focus">
							<label class="focus-label">To</label>
							<div class="cal-icon">
								<input class="form-control floating datetimepicker" type="date" name="to">
							</div>
						</div>
					</div>-->
                    <div class="col-sm-6 col-md-3">
                        <button type="submit" class="btn btn-success btn-block"> Search </button>
                    </div>

                </div>
            </form>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped custom-table">
                        <thead>
                            <tr>
                                <th>Appointment ID</th>
                                <th>Patient Name</th>
                                <th>Email</th>
                                <th>Doctor Name</th>

                                <th>Appointment Date</th>
                                <th>Appointment Time</th>
                                <th>Status</th>
                                <th class="text-right">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for appt in appointment %}
                            <tr>
                                <td>APT000{{appt.id}}</td>
                                <td>{{appt.p_firstname}} {{appt.p_lastname}}</td>
                                <td>{{appt.p_email}}</td>

                                <td>Dr.{{appt.p_doctor.first_name}} {{appt.p_doctor.last_name}}</td>


                                <td>{{appt.p_appointmentDate}}</td>
                                <td>{{appt.p_timeslot}}</td>
                                <td><span class="custom-badge status-red">{{appt.p_status}}</span></td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <!--<a class="dropdown-item" href="edit-appointment.html"><i class="fa fa-pencil m-r-5"></i> Edit</a>-->
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_appointment"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                     {% if appointment.has_other_pages %}
              <ul class="pagination">
                {% if appointment.has_previous %}
                  <li><a href="?page={{ appointment.previous_page_number }}">&laquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in appointment.paginator.page_range %}
                  {% if appointment.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if appointment.has_next %}
                  <li><a href="?page={{ appointment.next_page_number }}">&raquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
              </ul>
            {% endif %}
                </div>
            </div>
        </div>
    </div>
   
</div>

{% endblock %}
