{% extends 'admin/adminindex.html' %}

{% block content %}

<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-5 col-5">
                <h4 class="page-title">Departments</h4>
            </div>
            <div class="col-sm-7 col-7 text-right m-b-30">
                <a href="/add_departments/" class="btn btn-primary btn-rounded"><i class="fa fa-plus"></i> Add Department</a>
            </div>
        </div>
         {% if messages %}
            {% for message in messages %}
             {% if message.tags %}
                <div class="alert alert-success">
                    <strong>Success!</strong>{{message}}.
                  </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped custom-table mb-0 datatable">
                        <thead>
                            <tr>
                                <th>Dept_Id</th>
                                <th>Department Name</th>
                                <th>Main Department Name</th>
                                <!--<th>Status</th>-->
                                <th class="text-right">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for dept in departments %}
                            <tr>
                                <td>{{ dept.id }}</td>
                                <td>{{ dept.department_name}}</td>
                                <td>{{ dept.Head_dept}}</td>
                                <!--<td><span class="custom-badge status-green">Active</span></td>-->
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="/editdepartment/{{dept.id}}/"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" href="#delete_department{{dept.id}}" data-toggle="modal" ><i class="fa fa-trash-o m-r-5"></i> Delete</a>

                                        </div>
                                    </div>
                                </td>
                            </tr>
                        <div id="delete_department{{dept.id}}" class="modal fade delete-modal" role="dialog">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-body text-center">
                                        <img src="assets/img/sent.png" alt="" width="50" height="46">
                                        <h3>Are you sure want to delete this Department?</h3>
                                        <div class="m-t-20"> <a href="/departmentsview/" class="btn btn-white" data-dismiss="modal">Close</a>
                                            <a href="/deletdept/{{dept.id}}/" class="btn btn-danger">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div> 

</div>

{% endblock %}