{% extends 'admin/adminindex.html' %}

{% block content %}

<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-4 col-3">
                <h4 class="page-title">Doctors</h4>
            </div>

            <div class="col-sm-8 col-9 text-right m-b-20">
                <a href="/add_doctor/" class="btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Add Doctor</a>
            </div>
        </div>
        <form action="" method="GET">
                <div class="row filter-row">
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Doctor Name/email/phone no</label>
                                    <input type="text" class="form-control floating" name="doctorName">
                                </div>
                            </div>

                            <div class="col-sm-6 col-md-3">
                                <button type="submit" class="btn btn-success btn-block"> Search </button>
                            </div>

                        </div>
            </form>
        <div class="row doctor-grid">
            {% for doctor in doctors %}
            <div class="col-md-4 col-sm-4  col-lg-3">
                <div class="profile-widget">
                    <div class="doctor-img">
                        <a class="avatar" href="/singledoctorview/{{doctor.id}}"><img alt="" src="{{ doctor.photo.url }}"></a>
                    </div>
                    <div class="dropdown profile-action">
                        <a  class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="/editDoctor/{{doctor.id}}"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                            <a class="dropdown-item" href="#delete_doctor{{doctor.phone}}" data-toggle="modal"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                        </div>
                    </div>
                    <h4 class="doctor-name text-ellipsis"><a href="#">{{ doctor.first_name }} {{ doctor.last_name }}</a></h4>
                    <div class="doc-prof">{{ doctor.specialties.specializations_name }}</div>
                    <div class="user-country">
                        <i class="fa fa-map-marker"></i> {{ doctor.city }}, {{ doctor.state }}
                    </div>
                </div>
            </div>
            <div id="delete_doctor{{doctor.phone}}" class="modal fade delete-modal" role="dialog">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body text-center">
                            <img src="assets/img/sent.png" alt="" width="50" height="46">
                            <h3>Are you sure want to delete this Doctor?</h3>
                            <div class="m-t-20"> <a href="/doctors/" class="btn btn-white" data-dismiss="modal">Close</a>
                                <a href="/deletedoctor/{{doctor.phone}}/" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% if doctors.has_other_pages %}
              <ul class="pagination">
                {% if doctors.has_previous %}
                  <li><a href="?page={{ doctors.previous_page_number }}">&laquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in doctors.paginator.page_range %}
                  {% if doctors.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if doctors.has_next %}
                  <li><a href="?page={{ doctors.next_page_number }}">&raquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
              </ul>
            {% endif %}

        </div>
        <!--<div class="row">
            <div class="col-sm-12">
                <div class="see-all">
                    <a class="see-all-btn" href="javascript:void(0);">Load More</a>
                </div>
            </div>
        </div>-->
    </div>

        </div>
    </div>
</div>



{% endblock %}