{% extends 'admin/adminindex.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h4 class="page-title">Edit Employee</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ eform.media }}
                            <div class="card-box">
                                <h3 class="card-title">Basic Informations</h3>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{ eform.first_name|as_crispy_field }}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{ eform.middle_name|as_crispy_field }}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{ eform.last_name|as_crispy_field }}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{ eform.email|as_crispy_field }}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{ eform.age|as_crispy_field }}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{ eform.gender|as_crispy_field }}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{ eform.emp_img|as_crispy_field }}
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <div class="card-box">
                                <h3 class="card-title">Contact Informations</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ eform.address|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                             {{ eform.address2|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ eform.city|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ eform.state|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                             {{ eform.postal_code|as_crispy_field }}
                                        </div>
                                    </div>
                                     <div class="col-md-6">
                                         <div class="form-group">
                                             {{ eform.phone|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                         <div class="form-group">
                                             {{ eform.phone2|as_crispy_field }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-box">
                                <h3 class="card-title">Education Informations</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ eform.qulifications|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ eform.Certificate|as_crispy_field }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-box">
                                <h3 class="card-title">Experience Informations</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ eform.hospital_name|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ eform.year_of_experience|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ eform.job_position|as_crispy_field }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-box">
                                <h3 class="card-title">Role Informations</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                            <div class="form-group">
                                                {{ eform.role|as_crispy_field }}
                                            </div>
                                        </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ eform.joining_date|as_crispy_field }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-box">
                                <h3 class="card-title">Bank Details</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ eform.bank_Account_no|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ eform.ifsc_code|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ eform.bank_name|as_crispy_field }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-box">
                                <h3 class="card-title">Documents</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ eform.documents|as_crispy_field }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="m-t-20 text-center">
                                <button class="btn btn-primary submit-btn">Update Employee</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>


{% endblock %}
<script>
  $(function() {
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "1900:2012",
      // You can put more options here.

    });
  });
  </script>