{% extends 'admin/adminindex.html' %}

{% block content %}

<div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-4 col-3">
                        <h4 class="page-title">Employee</h4>
                    </div>
                    <div class="col-sm-8 col-9 text-right m-b-20">
                        <a href="/add_employee/" class="btn btn-primary float-right btn-rounded"><i class="fa fa-plus"></i> Add Employee</a>
                    </div>
                </div>
                {% if messages %}
                    {% for message in messages %}
                     {% if message.tags %}
                        <div class="alert alert-success">
                            <strong>Success!</strong>{{message}}.
                          </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <div class="row filter-row">
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group form-focus">
                            <label class="focus-label">Employee ID</label>
                            <input type="text" class="form-control floating">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group form-focus">
                            <label class="focus-label">Employee Name</label>
                            <input type="text" class="form-control floating">
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <a href="#" class="btn btn-success btn-block"> Search </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
						<div class="table-responsive">
                            <table class="table table-striped custom-table">
                                <thead>
                                    <tr>
                                        <th style="min-width:200px;">Name</th>
                                        <th>Employee ID</th>
                                        <th>Email</th>
                                        <th>Mobile</th>
                                        <th style="min-width: 110px;">Join Date</th>
                                        <th>Role</th>
                                        <th class="text-right">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for emp in staffs %}
                                    <tr>
                                        <td>
											<img width="28" height="28" src="{{emp.emp_img.url}}" class="rounded-circle" alt=""> <h2>{{emp.first_name}} {{emp.last_name}}</h2>
										</td>
                                        <td>{{emp.id}}</td>
                                        <td>{{emp.email}}</td>
                                        <td>{{emp.phone}}</td>
                                        <td>{{emp.joining_date}}</td>
                                        <td>
                                            <span class="custom-badge status-green">{{emp.role}}</span>
                                        </td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="/edit_employee/{{emp.id}}"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                    <a class="dropdown-item" href="#delete_employee{{emp.id}}" data-toggle="modal"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <div id="delete_employee{{emp.id}}" class="modal fade delete-modal" role="dialog">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-body text-center">
                                                    <img src="assets/img/sent.png" alt="" width="50" height="46">
                                                    <h3>Are you sure want to delete this Employee?</h3>
                                                    <div class="m-t-20"> <a href="/employee/" class="btn btn-white" data-dismiss="modal">Close</a>
                                                        <a href="/delete_employee/{{emp.id}}" class="btn btn-danger">Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </tbody>
                            </table>
						</div>
                    </div>
                </div>
            </div>

        </div>

{% endblock %}