{% load static %}

<html lang="en">


<!-- login23:11-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets1/img/favicon.ico' %}">
    <title>Preclinic - Medical & Hospital - Bootstrap 4 Admin Template</title>
    <link rel="stylesheet" type="text/css" href="{% static 'assets1/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets1/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets1/css/style.css' %}">
    <!--[if lt IE 9]>
		<script src="{% static 'assets1/js/html5shiv.min.js' %}"></script>
		<script src="{% static 'assets1/js/respond.min.js' %}"></script>
	<![endif]-->
</head>

<body>
    <div class="main-wrapper account-wrapper">
        <div class="account-page">
			<div class="account-center">
				<div class="account-box">
                    <form action="/adminlogin/" method="POST" class="form-signin">
                        {% csrf_token %}
						<div class="account-logo">
                            <a href="index-2.html"><img src="{% static 'assets1/img/logo-dark.png' %}" alt=""></a>
                        </div>
                        <div class="form-group">
                            <label>Username or Email</label>
                            <input type="text" name="username" autofocus="" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" id="myInput" name="password" class="form-control">
                            <input type="checkbox" onclick="myFunction()">Show Password
                        </div>
                        <div class="form-group text-right">
                            <a href="/password_reset/">Forgot your password?</a>
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary account-btn">Login</button>
                        </div>
                        <div class="text-center register-link">
                            Don’t have an account? <a href="/admin_register/">Register Now</a>
                        </div>
                    </form>
                </div>
			</div>
        </div>
    </div>
    function myFunction() {
      var x = document.getElementById("myInput");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    }
    <script src="{% static 'assets1/js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'assets1/js/popper.min.js' %}"></script>
    <script src="{% static 'assets1/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets1/js/app.js' %}"></script>
</body>


<!-- login23:12-->
</html>