{% extends 'admin/adminindex.html' %}

{% block content %}
<div class="main-wrapper">
    <div class="page-wrapper">
        <div class="content">
            <div class="row">
                <div class="col-sm-4 col-3">
                    <h4 class="page-title">Patients</h4>
                </div>
                <div class="col-sm-8 col-9 text-right m-b-20">
                    <a href="/addpatient/" class="btn btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Add Patient</a>
                </div>
            </div>
            {% if messages %}
            {% for message in messages %}
             {% if message.tags %}
                <div class="alert alert-success">
                    <strong>Success!</strong>{{message}}.
                  </div>
                {% endif %}
            {% endfor %}
        {% endif %}
            <form action="/searchpatients/" method="GET">
                <div class="row filter-row">
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Patient Name/email/phone no</label>
                                    <input type="text" class="form-control floating" name="patientName">
                                </div>
                            </div>

                            <div class="col-sm-6 col-md-3">
                                <button type="submit" class="btn btn-success btn-block"> Search </button>
                            </div>

                        </div>
            </form>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-border table-striped custom-table datatable mb-0">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Age</th>
                                    <th>Address</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% if patients %}
                            {% for patient in patients %}
                                <tr>
                                    <td>{{patient.id}}</td>
                                    <td><img width="28" height="28" src="assets/img/user.jpg" class="rounded-circle m-r-5" alt=""> {{patient.p_firstname}} {{patient.p_lastname}}</td>
                                    <td>{{patient.p_age}}</td>
                                    <td>{{patient.p_address}}</td>
                                    <td>{{patient.p_phone}}</td>
                                    <td>{{patient.p_email}}</td>
                                    <td class="text-right">
                                        <div class="dropdown dropdown-action">
                                            <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="/updatepatients/{{patient.id}}"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                <a class="dropdown-item" href="#delete_patient{{patient.id}}" data-toggle="modal" ><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            <div id="delete_patient{{patient.id}}" class="modal fade delete-modal" role="dialog">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-body text-center">
                                            <img src="assets/img/sent.png" alt="" width="50" height="46">
                                            <h3>Are you sure want to delete this Patient?</h3>
                                            <div class="m-t-20"> <a href="/patients/" class="btn btn-white" data-dismiss="modal">Close</a>
                                                <a href="/deletepatient/{{patient.id}}" class="btn btn-danger">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            {% endfor %}
                            {% else %}
                            <div class="alert alert-secondary">
                                <h4>No Data is Present</h4>.
                              </div>
                            {% endif %}

                            </tbody>
                        </table>
                        <br>
                         {% if patients.has_other_pages %}
              <ul class="pagination">
                {% if patients.has_previous %}
                  <li><a href="?page={{ patients.previous_page_number }}">&laquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in patients.paginator.page_range %}
                  {% if patients.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if patients.has_next %}
                  <li><a href="?page={{ patients.next_page_number }}">&raquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
              </ul>
            {% endif %}
                    </div>
                </div>
            </div>
        </div>
       
    </div>

</div>

{% endblock %}