{% load static %}

<html lang="en">


<!-- register24:03-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets1/img/favicon.ico' %}">
    <title>Preclinic - Medical & Hospital - Bootstrap 4 Admin Template</title>
    <link rel="stylesheet" type="text/css" href="{% static 'assets1/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets1/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets1/css/style.css' %}">
    <!--[if lt IE 9]>
		<script src="{% static 'assets1/js/html5shiv.min.js' %}"></script>
		<script src="{% static 'assets1/js/respond.min.js' %}"></script>
	<![endif]-->
</head>

<body>
    <div class="main-wrapper  account-wrapper">
        <div class="account-page">
            <div class="account-center">
                <div class="account-box">
                    <form action="/admin_register/" method="POST" class="form-signin">
                        {% csrf_token %}
						<div class="account-logo">
                            <a href="#"><img src="{% static 'assets1/img/logo-dark.png' %}" alt=""></a>
                        </div>
                        <div class="form-group">
                            <label>First name</label>
                            <input type="text" name="fname" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Last name</label>
                            <input type="text" name="lname" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Email Address</label>
                            <input type="email" name="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" name="password" class="form-control">
                        </div>
                        <!--<div class="form-group">
                            <label>Mobile Number</label>
                            <input type="text" name="phoneNumber" class="form-control">
                        </div>-->
                        <div class="form-group checkbox">
                            <label>
                                <input type="checkbox"> I have read and agree the Terms & Conditions
                            </label>
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-primary account-btn" type="submit">Signup</button>
                        </div>
                        <div class="text-center login-link">
                            Already have an account? <a href="/adminlogin/">Login</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'assets1/js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'assets1/js/popper.min.js' %}"></script>
    <script src="{% static 'assets1/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets1/js/app.js' %}"></script>
</body>


<!-- register24:03-->
</html>