{% extends 'admin/adminindex.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-7 col-6">
                <h4 class="page-title">My Profile</h4>
            </div>
            <div class="col-sm-5 col-6 text-right m-b-30">
                <a href="edit-profile.html" class="btn btn-primary btn-rounded"><i class="fa fa-plus"></i> Edit Profile</a>
            </div>
        </div>
        <div class="card-box profile-header">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="profile-view">
                                <div class="profile-img-wrap">
                                    <div class="profile-img">
                                        <a><img class="avatar" src="{{doctor.photo.url}}" alt=""></a>
                                    </div>
                                </div>
                                <div class="profile-basic">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="profile-info-left">
                                                <h3 class="user-name m-t-0 mb-0">{{doctor.first_name}} {{doctor.middle_name}} {{doctor.last_name}}</h3>
                                                <small class="text-muted">{{doctor.specialties.specializations_name}}</small>
                                                <div class="staff-id">Employee ID : DR-{{doctor.id}}</div>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <ul class="personal-info">
                                                <li>
                                                    <span class="title">Phone:</span>
                                                    <span class="text"><a>{{doctor.phone}}</a></span>
                                                </li>
                                                <li>
                                                    <span class="title">Email:</span>
                                                    <span class="text"><a>{{ doctor.email }}</a></span>
                                                </li>
                                                <li>
                                                    <span class="title">Birthday:</span>
                                                    <span class="text">3rd March</span>
                                                </li>
                                                <li>
                                                    <span class="title">Address:</span>
                                                    <span class="text">{{doctor.address}}</span>
                                                </li>
                                                <li>
                                                    <span class="title">Gender:</span>
                                                    <span class="text">Female</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        <div class="card-box">
            <h3 class="card-title">Contact Informations</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <span><b>Address:   </b></span>
                        <span class="text">{{doctor.address}}</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label><b>Address:</b> </label>
                        <span> {{doctor.address2}}</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label><b>city:</b></label>
                        <span>{{doctor.city}}</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label><b>state:</b></label>
                        <span>{{doctor.state}}</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label><b>Postal code:</b></label>
                        <span>{{doctor.postal_code}}</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label><b>phone:</b></label>
                        <span>{{doctor.phone}}</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label><b>phone 2:</b></label>
                        <span>{{doctor.phone2}}</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label><b>Home contact:</b></label>
                        <span>{{doctor.home_no}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-box">
            <h3 class="card-title">Education Informations</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label><b>Qulifications:</b></label>
                        {{ doctor.qulifications.degree_name }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label><b>Certificates:</b></label>
                        <a href="{{ doctor.Certificate.url }}">{{ doctor.Certificate }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-box">
            <h3 class="card-title">Experience Informations</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label><b>Hospital Name:</b></label>
                        {{ doctor.hospital_name }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label><b>Experience of Year:</b></label>
                        {{ doctor.year_of_experience }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label><b>Position:</b></label>
                        {{ doctor.job_position }}
                    </div>
                </div>
            </div>
        </div>
        <div class="card-box">
            <h3 class="card-title">Bank Details</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label><b>Account No:</b></label>
                        {{ doctor.bank_Account_no }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label><b>IFSC Code:</b></label>
                        {{ doctor.ifsc_code }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label><b>Bank Name:</b></label>
                        {{ doctor.bank_name }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}