{% load static %}

<html lang="en">


<!-- forgot-password24:03-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets1/img/favicon.ico' %}">
    <title>Preclinic - Medical & Hospital - Bootstrap 4 Admin Template</title>
    <link rel="stylesheet" type="text/css" href="{% static 'assets1/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets1/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets1/css/style.css' %}">
    <!--[if lt IE 9]>
		<script src="{% static 'assets1/js/html5shiv.min.js' %}"></script>
		<script src="{% static 'assets/js/respond.min.js' %}"></script>
	<![endif]-->
</head>

<body>
    <div class="main-wrapper account-wrapper">
        <div class="account-page">
			<div class="account-center">
                <div class="account-box">
                    <form class="form-signin"  method="POST">
                         {% csrf_token %}
						<div class="account-logo">
                            <a href="index-2.html"><img src="{% static 'assets1/img/logo-dark.png' %}" alt=""></a>
                        </div>
                        <<div class="form-group">
                            <!--<label>Enter otp</label>
                            <input type="text" name="otp" class="form-control" autofocus>-->
                        <h1>reset password link is send on mail Please check it !.</h1>
                        </div>
                        <div class="form-group text-center">
                            <button href="/adminlogin/" class="btn btn-primary account-btn" type="submit">Back to login</button>
                        </div>

                    </form>
                </div>
			</div>
        </div>
    </div>
    <script src="{% static 'assets1/js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'assets1/js/popper.min.js' %}"></script>
    <script src="{% static 'assets1/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets1/js/app.js' %}"></script>
</body>


<!-- forgot-password24:03-->
</html>