{% extends 'admin/adminindex.html' %}

{% block content %}

<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-5 col-5">
                <h4 class="page-title">Specializations Degree</h4>
            </div>
			{% if messages %}
            {% for message in messages %}
             {% if message.tags %}
                <div class="alert alert-success">
                    <strong>Success!</strong>{{message}}.
                  </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        </div>
        <div class="row">
					<div class="col-12 col-md-6 col-lg-6 col-xl-6">
						<div class="table-responsive">
							<table class="table table-striped custom-table mb-0 datatable">
								<div class="chart-title">
									<h4>Specializations</h4><a href="/add_specializations/" class="btn btn-primary float-right">ADD</a>
								</div>
								<thead>
									<tr>
										<th>Specialization Id</th>
										<th>Specialization Name</th>
										<th class="text-right">Action</th>
									</tr>
								</thead>
								<tbody>
								{% for spe in specializations %}
									<tr>
										<td>{{ spe.id }}</td>
										<td>{{ spe.specializations_name}}</td>
										<!--<td><span class="custom-badge status-green">Active</span></td>-->
										<td class="text-right">
											<div class="dropdown dropdown-action">
												<a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="#"><i class="fa fa-pencil m-r-5"></i> Edit</a>
													<a class="dropdown-item" href="#delete_specializaton{{spe.id}}" data-toggle="modal" ><i class="fa fa-trash-o m-r-5"></i> Delete</a>

												</div>
											</div>
										</td>
									</tr>
								<div id="delete_specializaton{{spe.id}}" class="modal fade delete-modal" role="dialog">
									<div class="modal-dialog modal-dialog-centered">
										<div class="modal-content">
											<div class="modal-body text-center">
												<img src="assets/img/sent.png" alt="" width="50" height="46">
												<h3>Are you sure want to delete this Specializations?</h3>
												<div class="m-t-20"> <a href="/viewspecializationsdegree/" class="btn btn-white" data-dismiss="modal">Close</a>
													<a href="/deletespecialization/{{spe.id}}" class="btn btn-danger">Delete</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								{% endfor %}
								</tbody>

							</table>
						</div>
					</div>
					<div class="col-12 col-md-6 col-lg-6 col-xl-6">
						<div class="table-responsive">
							<table class="table table-striped custom-table mb-0 datatable">
								<div class="chart-title">
									<h4>Degree</h4><a href="/add_degree/" class="btn btn-primary float-right">ADD</a>
								</div>
								 <thead>
									<tr>
										<th>Degree Id</th>
										<th>Degree Name</th>
										<th class="text-right">Action</th>
									</tr>
								</thead>
								<tbody>
								{% for degree in degrees %}
									<tr>
										<td>{{ degree.id }}</td>
										<td>{{ degree.degree_name }}</td>
										<td class="text-right">
											<div class="dropdown dropdown-action">
												<a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="/editlabtests/{{test.id}}"><i class="fa fa-pencil m-r-5"></i> Edit</a>
													<a class="dropdown-item" href="#delete_degree{{degree.id}}" data-toggle="modal"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
												</div>
											</div>
										</td>
									</tr>
									<div id="delete_degree{{degree.id}}" class="modal fade delete-modal" role="dialog">
										<div class="modal-dialog modal-dialog-centered">
											<div class="modal-content">
												<div class="modal-body text-center">
													<img src="assets/img/sent.png" alt="" width="50" height="46">
													<h3>Are you sure want to delete this Degree?</h3>
													<div class="m-t-20"> <a href="/viewspecializationsdegree/" class="btn btn-white" data-dismiss="modal">Close</a>
														<a href="/deletedegree/{{degree.id}}" class="btn btn-danger">Delete</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								   {% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
    </div>
</div>
{% endblock %}